
<li>
	<!-- {{paper.authors}} -->
	{{paper.authors | join: ', '}}
	<br><a href="{{paper.link}}">"{{paper.title}}"</a>
	{% if paper.pdflink %}
	  <a href="{{site.baseurl}}/assets/img/{{paper.pdflink}}">[PDF]</a> 
	{% endif %}
	{% if paper.pdflink2 %}
	  <a href="{{site.baseurl}}/assets/img/{{paper.pdflink2}}">[supplemental]</a> 
	{% endif %}
	<br><i>{{paper.journal}}</i>
	{% if paper.tags contains "preprint" %}
		<i> [Preprint]</i>
	{% endif %}
	{% if paper.tags contains "review" %}
		<i> [Review]</i>
	{% endif %}
	{% if paper.tags contains "commentary" %}
		<i> [Commentary]</i>
	{% endif %}
	{% if paper.tags contains "conference" %}
		<i> [Conference]</i>
	{% endif %}
	<br>&nbsp
</li>
