---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

  {% include head.html %}

  <body class="site">

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}
	
    <div class="hero--small">
      <div class="hero__wrap">
        <h1 class="hero__title">{{ page.title }}</h1>
      </div>
    </div>

    <main class="site__content">
        <div class="container">
          <div class="page-content">
		
		<p>Our goal is to understand the fundamental computational principles our brain uses to represent and interact with the world. We combine systems and computational neuroscience with machine learing techniques to decipher the neural codes underlying perception and cognition. In particular, we are interested in the dynamics and variability of sensory representation and propagation of a large neural network under different brain states. </p>

		<p>Our approach combines large-scale electrophysiological recording of neural activity, closed-loop BMI, sophisticated data analysis and state-of-the-art modeling with quantifiable behavioral tasks. </p>

		
      <!-- <section class="blog">
        <div class="container"> -->
          <div class="post-list" padding-top="0em" itemscope="" itemtype="http://schema.org/Blog">
			{% assign projects = site.data.research.projects %}
			{% for project in projects %}

				{% include project.html %}
			{% endfor %}

          </div>
        <!-- </div>
      </section> -->
				
			
  </div>
</div>
    </main>

    {% include footer.html %}

  </body>

</html>
